.uselectrical-quickorder-1-x-wrapperContainer {
  margin-top: 60px;
}

.uselectrical-quickorder-1-x-quickorderPadContainer {
  width: 100%;
}

.uselectrical-quickorder-1-x-quickorderPad {
  width: 100%;
  position: relative;
}

.uselectrical-quickorder-1-x-quickOrderMainContent {
  width: 100%;
  display: flex;
}

.uselectrical-quickorder-1-x-quickOrderMainContent .vtex-table__container {
  width: 75%;
  margin-right: 40px;
}

.uselectrical-quickorder-1-x-copyPasteContainer {
  width: 25%;
}

.uselectrical-quickorder-1-x-quickOrderPageTitle {
  font-size: 48px;
}

.vtex-quickorder-2-x-inputQuantity>label>div>input {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.uselectrical-quickorder-1-x-tableActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.uselectrical-quickorder-1-x-tableWrapper {
  height: 500px;
  overflow: scroll;
}

.uselectrical-quickorder-1-x-headerActions {
  bottom: 0;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
  top: -50px;
}

.uselectrical-quickorder-1-x-clearOrderList,
.uselectrical-quickorder-1-x-addAllToList {
  margin-right: 40px;
}

.uselectrical-quickorder-1-x-tableActions button {
  text-transform: uppercase;
}

.uselectrical-quickorder-1-x-clearOrderList button {
  padding: 0;
  width: auto;
}

.uselectrical-quickorder-1-x-clearOrderList button .vtex-button__label {
  padding: 0;
}

.uselectrical-quickorder-1-x-clearOrderList button:hover {
  background-color: transparent;
  opacity: 0.7;
}

.uselectrical-quickorder-1-x-productContainer {
  display: flex;
  width: 100%;
}

.uselectrical-quickorder-1-x-productThumb img {
  height: auto;
}

.ReactVirtualized__Grid__innerScrollContainer div {
  text-wrap: unset;
  overflow: unset;
  margin: 0;
}

.ReactVirtualized__Grid__innerScrollContainer .uselectrical-quickorder-1-x-productThumb {
  margin-right: 5px;
  align-items: center;
}

.ReactVirtualized__Grid,
.ReactVirtualized__Grid__innerScrollContainer {
  overflow: unset !important;
  z-index: 99999;
}

.vtex-button__label {
  font-size: 14px;
}

.uselectrical-quickorder-1-x-productTitle {
  color: #349beb;
}

.uselectrical-quickorder-1-x-productLabel {
  align-items: center;
}

.uselectrical-quickorder-1-x-productContainer .uselectrical-quickorder-1-x-productTitle {
  max-height: 3.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 125px;
}

.vtex-store-components-3-x-container {
  position: relative;
}

.uselectrical-quickorder-1-x-customOptionButton {
  overflow: hidden;
  border: 0.2px solid #b0b0b0;
}

.uselectrical-quickorder-1-x-priceContainer {
  align-items: center;
  display: flex;
  white-space: unset;
  flex-direction: column;
}

.uselectrical-quickorder-1-x-priceContainer p {
  margin: 0;
}

.uselectrical-quickorder-1-x-productQuantity {
  font-size: 12px;
  color: #3D9635;
}

.uselectrical-quickorder-1-x-productPrice {
  color: #2557a1;
  font-weight: 600;
}

.uselectrical-quickorder-1-x-priceContainer span {
  color: gray;
  font-size: 14px;
}

.uselectrical-quickorder-1-x-closeIcon:hover {
  cursor: pointer;
}

.uselectrical-quickorder-1-x-listItemContainer {
  display: flex;
  align-items: center;
}

.uselectrical-quickorder-1-x-listItemContainer img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 5px;
}